.container{
		    height: 600px;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 50px auto 50px 50px;
			
		}
	

		.header{
			background-color: green;
			
		    padding: 5px;
			grid-column: 1/-1;

		}

		.header h2{
			position: relative;
			left: 100px;
			margin: 10px;
		}

		.menu{
			background-color: red;
			text-align: center;
			padding: 5px;
			grid-column: 1/2;
			grid-row: 2/3;
		}
		.menu2{
			background-color: red;
			text-align: center;
			padding: 5px;
			grid-column: 12/-1;
			grid-row: 2/3;
		}
		.content{
			background-color: #dae8de;
			
			padding: 5px;
			grid-column: 2/12;

		}
		.footer{
			background-color: #03fc0b;
			text-align: center;
			padding: 5px;
			grid-column: 1/-1;
					}
		.footer1{
			background-color: #eb4034;
			text-align: center;
			padding: 5px;
			grid-column: 1/-1;
			height: 300px;

		}

		.paragraph{
			font-family: 'Teko', sans-serif;
			text-align: justify;
			font-size: 2rem;
		}
		.header h2{
			font-family: 'Teko', sans-serif;
		}
		.pic{
			height: 300px;
			width: 300px;
			position: absolute;
			right: 200px;
		}
		.pic2{
			height: 300px;
			width: 300px;
			position: relative;
			left: 200px;
			border: solid;
		}

		.fab{
			color: red;
			height: 100px;
			width: 100px;
		}